$background: #002832;
$border: #FFFFFF;
$brand-primary: #8CF0C8;
$default-transition: .25s ease-in-out;
$text: #FFFFFF;
$svg: #FFFFFF;
$customtext: #4f5558;

@mixin mdplus {
  @media (min-width: 1024px) {
    @content
  }
}
%hover-transition{
  transition: all $default-transition;
  &:hover,
  &:active,
  &:focus {
    color: $text;
    background-color: $brand-primary;
  }
}

%hover-link-transition{
  transition: all $default-transition;
  &:hover,
  &:active,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

.kehittamo-footer{
  background-color: $background;
  position: relative;
  z-index: 999;
  &__wrapper{
    align-items: center;
    display: flex;
    color: $text;
    font-size: 12px;
    font-weight: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-transform: uppercase;
    @include mdplus{
      width: 80vw;
    };
    > section{
      a{
        color: $text;
        text-align: center;
      }
    }
    svg, path{
      fill: $svg;
      max-width: 250px;
    }
    a:hover{
      svg, path{
        fill: $brand-primary;
        transition: all $default-transition;
      }
    }
  }
  &__logo, &__links, &__some, &__login{
    text-align: center;
    width: 100%;
  }
  &__links{
    @include mdplus{
      width: 40%;
    };
    a{
      display: block;
      @extend %hover-link-transition;
    }
  }
  &__some, &__login{
    width: 50%;
  }
  &__logo, &__some, &__login{
    @include mdplus{
      width: 20%;
    };
  }
  &__some{
    a{
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
  &__login{
    a{
      border: 1px solid $border;
      border-radius: 3px;
      padding: 10px;
      @extend %hover-transition;
    }
  }
  &__custom-info {
    background: $border;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    ul {
      margin: 0;
      li {
        a {
          color: $customtext;
        }
        display: inline-block;
        &:after {
          content: '\2022';
          padding: 0 10px;
        }
        &:last-child:after {
          content: '';
        }
      }
    }
  }
}
